/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  position: relative;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: Inter-Variable;
  font-size: 18px;
  background-image: 
  repeating-linear-gradient(var(--gradient-lines-color) 0 2px, transparent 2px 4px),
  repeating-linear-gradient(90deg, var(--gradient-lines-color) 0 2px, transparent 2px 4px),
  linear-gradient(var(--gradient-background-color-start), var(--gradient-background-color-end));
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: var(--accent-color);
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--accent-font);
  min-block-size: 527px; 
  block-size: 100vh;
}

.header-main-title {
  font-size: 49px;
  transition: font-size 0.3s ease-in-out;
}

.header-subtitle {
  font-size: 14px;
  text-transform: uppercase;
  transition: font-size 0.3s ease-in-out;
}

@media (width > 600px) {
  .header-main-title {
    font-size: 65px;
  }
  
  .header-subtitle {
    font-size: 23px;
  }
}

.header__theme-menu {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  min-block-size: 364px;
  min-inline-size: 375px;
  max-inline-size: 696px;
  width: 100%;
  border: 2px solid var(--accent-color);
  background-color: var(--background-color);
}

.logo-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-block-start: 25px;
  margin-block-end: 25px;
}

.theme-menu__button {
  position: relative;
  background-color: transparent;
  text-transform: uppercase;
  font-size: 14px;
  border: none;
  transition: opacity 0.3s ease;
}

.theme-menu__button:hover {
  cursor: pointer;
  opacity: 0.6;
}

.theme-menu__button:disabled {
  pointer-events: none;
  opacity: 0.6;
}

.theme-menu__button:disabled::before {
  content: "▶";
  display: inline-block;
  animation: pointers-motion 0.5s alternate ease-in-out infinite;
}

.theme-menu__button:focus {
  content: "";
  outline: none;
  opacity: 0.6;
}

.theme-menu__button::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: currentColor;
  bottom: 0;
  opacity: 0.6;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.3s ease;
}

.theme-menu__button:focus-visible::after {
  content: "";
  transform: scaleX(1);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.posts-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  max-width: 700px;
}

.post-card {
  background-color: var(--background-color);
  border: 2px solid var(--accent-color);
}

.image-and-meaning {
  position: relative;
}

.post-head-image {
  z-index: 0;
  display: block;
  width: 100%;
  object-fit: cover;
  object-position: center right;
  background-repeat: no-repeat;
  background-position: center;
  aspect-ratio: 1/1;
} 

.post-title {
  border-bottom: 2px solid var(--accent-color);
  font-size: 18px;
  font-weight: var(--post-header-font-weight);
  padding-left: 10px;
  padding-top: 3.5px;
  padding-bottom: 5.5px;
  padding-right: 10px;
}

.post-head-section {
  min-height: 371px;
  min-width: 371px;
}

.post-meaning {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  font-family: PressStart2P-Regular;
  font-size: 14px;
  font-weight: var(--post_watermark-stroke-weight);
  line-height: 14px;
  opacity: 0.75;
  color: var(--accent-color);
  margin-block-start: 27px;
  margin-inline-end: 25px;
  mix-blend-mode: hard-light;
  text-shadow: 
  -1px 0 var(--post_watermark-stroke-color), 
  0 1px var(--post_watermark-stroke-color), 
  1px 0 var(--post_watermark-stroke-color), 
  0 -1px var(--post_watermark-stroke-color);
}

@media (width <= 375px) {
  .post-meaning {
    margin-inline-end: 13px;
    margin-block-start: 25px;
  }
}

@supports (-webkit-text-stroke: 1px var(--post_watermark-stroke-color)) {
  .post-meaning {
    -webkit-text-stroke: 1px var(--post_watermark-stroke-color);
    text-shadow: none;
  }
}

.post-content-area {
  border-top: 2px solid var(--accent-color);
  padding: 25px;
}

.post-text {
  margin-block-end: 27px;
}

.post-memories {
  margin-block-end: 25px;
}

.like-button-section {
  display: flex;
  justify-content: end;
  max-block-size: 38px;
  gap: 7px;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
  font-family: var(--accent-font);
  font-size: 14px;
  border: 2px solid var(--accent-color);
  background-color: var(--background-color);
  transform-origin: left;
}

.button:focus {
  outline: none;
  box-shadow: 2px 2px 0 var(--accent-color);
  transition: box-shadow 0.3s ease;
}

.button::after {
  z-index: 1;
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  background-color: var(--accent-color);
  color: var(--button-text-color);
  fill: var(--button-text-color);
  overflow: hidden;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s ease-in-out;
  transition: color 0.5 ease-in-out;
  transition: fill 0.5 ease-in-out;
}

.button:hover::after{
  transform: scaleX(1);
}

.button > .button__text {
  z-index: 2;
  mix-blend-mode: difference;
  color: var(--button-text-color);
}

.card__like-button {
  width: 130px;
  height: 38px;
  line-height: 12.6px;
}

.card__icon-button {
  display: flex;
  justify-content: center;
  align-items: center;
  max-inline-size: 39px;
  padding: 0;
  border: var(--background-color);
  background-color: transparent;
  border: 2px solid transparent;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border: 2px solid var(--accent-color);
  transition: border 0.3s ease;
}

.like-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  max-height: 100%;
}

.to_save-section {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background-color);
  border: 2px solid var(--accent-color);
  max-inline-size: 335px;
  min-block-size: 51px;
  width: 100%;
  margin-block-end: 103px;
}

@media (width <= 375px) {
  .to-save__button {
    flex-direction: column;
    inline-size: 306px;
    max-block-size: 80px;
    padding-block-end: 15px;
  }

  .to_save-section {
    margin-block-end: 100px;
  }
}

/* SVG */

.like-icon {
  will-change: transform;
}

.main-body {
  fill: var(--accent-color);
  opacity: 0;
  transition: opacity 0.3s 0.05s;
}

.core {
  fill: var(--accent-color);
  opacity: 0;
  transition: opacity 0.3s 0.03s;
}

.sparks {
  fill: var(--heart-sparks-color);
  opacity: 0;
}

.like-icon:hover .main-body {
  opacity: 1;
}

.like-icon:hover .core {
  opacity: 1;
}

.like-icon:active .main-body {
  fill: var(--heart-main-body-color);
  opacity: 1;
  transition: opacity 0.3s linear 0.05s, fill 0.3s linear 0.05s;
}

.like-icon:active .core {
  fill: var(--heart-core-color);
  opacity: 1;
  transition: opacity 0.3s linear 0.03s, fill 0.3s linear 0.03s;
}

.like-icon.is-liked .core {
  fill: var(--heart-core-color);
  opacity: 1;
  transition: opacity 0.3s linear 0.03s, fill 0.3s linear 0.03s;
}

.like-icon.is-liked .main-body {
  fill: var(--heart-main-body-color);
  opacity: 1;
  transition: opacity 0.3s linear 0.05s, fill 0.3s linear 0.05s;
}

.like-icon.is-liked .contour {
  fill: var(--heart-liked-contour-color);
  opacity: 1;
  transition: opacity 0.3s linear 0.06s, fill 0.3s linear 0.06s;
}

.like-icon .contour {
  fill: var(--heart-contour-color);
  transition: fill 0.1s linear;
}

.like-icon.is-liked .heart {
  transform-origin: center;
  animation: popping-up 0.3s ease-in alternate;
  animation-delay: 0.1s;
}

.like-icon.is-liked .sparks {
  animation-name: sparks-blasting;
  animation-duration: 0.3s;
  animation-timing-function: ease-in;
  animation-delay: 0.3s;
  animation-iteration-count: 1;
  animation-direction: alternate;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-block-start: 50px;
}

.floppy-icon {
  width: 21px;
  height: 21px;
}

.dialog {
  padding: 0;
  margin: 0;
  overflow: hidden;
  font-family: var(--accent-font);
  font-weight: var(--main-text-font-weight);
  line-height: 21px;
  font-size: 14px;
  position: fixed;
  margin: auto;
  max-width:341px;
  min-width: 357;
  min-height: 191px;
  max-height: 193px;
  width: 100%;
  height: 100%;
  background-color: var(--background-color);
  border: 2px solid var(--accent-color);
  text-transform: uppercase;
}

.dialog::backdrop {
  background-color: #000;
  opacity: 0.75;
}

.modal-info {
  display: flex;
  flex-direction: row;
  gap: 20px;
  width: 293px;
  height: 63px;
}

.dialog-form {
  display: flex;
  flex-direction: column;
  gap: 30px;
  height: 100%;
  width: 100%;
  padding: 30px;
}

.to-save__floppy {
  min-height: 40px;
  min-width: 39px;
  transform: scale(0.5);
  fill: var(--accent-color);
}

.button > .floppy-icon.to-save__floppy {
  z-index: 3;
  mix-blend-mode: difference;
  fill: var(--button-text-color);
}

.button ~ .floppy-icon.to-save__floppy {
  z-index: 3;
  mix-blend-mode: difference;
  fill: var(--button-text-color);
}

.floppy-icon.floppy-icon-modal {
  min-width: 39px;
  min-height: 40px;
  align-self: center;
  fill: var(--accent-color);
}

.button-modal {
  height: 38px;
  width: 100%;
}

.modal-text {
  color: var(--accent-color);
}

/* Filters */

.brightness-filter {
  filter: brightness(1.2);
}

.contrast-filter {
  filter: contrast(1.4);
}

.blur-filter {
  filter: blur(0.6);
}

.opacity-filter {
  filter: opacity(0.2);
}

.grayscale-filter {
  filter: grayscale(1);
}

.saturate-filter {
  filter: saturate(0.7);
}

.sepia-filter {
  filter: sepia(0.8);
}

.several-filters-effect {
  filter: grayscale(1) contrast(1);
}