/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */

:root {
  --accent-font: 'PressStart2P', fantasy, sans-serif; 
  --main-font: 'Inter-Variable', Arial, Helvetica, sans-serif;
  --post-header-font-weight: 700;
  --main-text-font-weight: 400;
  --accent-color: #000;
  --background-color:  #fff;
  --post_watermark-stroke-color: #e7e7e7;
  --post_watermark-stroke-weight: 400; 
  --gradient-lines-color: #d3d3d3;
  --gradient-background-color-start: #e7e7e7;
  --gradient-background-color-end: #1a1a1a;
  --button-text-color: #fff;
  --heart-contour-color: #000;
  --heart-liked-contour-color: #ff0000;
  --heart-sparks-color: #ff0000;
  --heart-main-body-color: #ff0000;
  --heart-core-color: #ff0000;
}
